#Ignore virtual environment folders
niche/

#Ignore environment variable files
.env

#Ignore compiled python files
*.pyc
__pycache__/

#Ignore log files
*.log

#Ignore HAR files
# *.har # Leaving the HAR file in for the audience of this GitHub
# *.csv # Leaving the audience some data to play with
